<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="stylesheet" href="assets/css/app.css">
</head>

<body data-type="login">

<div class="am-g myapp-login">
    <div class="myapp-login-logo-block  tpl-login-max">
        <div class="myapp-login-logo-text">
            <div class="myapp-login-logo-text">
                E-campus<span> SCU</span> <i class="am-icon-skyatlas"></i>

            </div>
        </div>

        <div class="login-font">
            <i>SCU </i>  <span> Students Application</span>
        </div>
        <div class="am-u-sm-10 login-am-center">
            <form class="am-form">
                <fieldset>
                    <div class="am-form-group">
                        <input type="text" class="" id="username" placeholder="username">
                    </div>
                    <div class="am-form-group">
                        <input type="password" class="" id="password" placeholder="password">
                    </div>
                    <p><button type="button" class="am-btn am-btn-default" onclick="sign_in()">SIGN IN</button></p>
                    <p><a href = "/register" >SIGN UP</a></p>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/amazeui.min.js"></script>
<script src="js/app.js"></script>
<script>
    function sign_in(){
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var username = $('#username')[0].value;
        //alert("username"+userName.length);
        var password = $('#password')[0].value;
        //alert("password"+passWord.length);
        if(username.length === 0||password.length === 0){
            alert("请填写完整用户名和密码!");
        }
        else {
            $.ajax({
                type: 'POST',
                url: '/login',
                data: {
                    'username':username,
                    'password':password
                },
                async : false,
                beforeSend: function(request) {
                    request.setRequestHeader(header, token); // 添加  CSRF Token
                },
                success: function (data) {
                    console.log("成功");
                    if (data.status === "success") {
                        window.location.href = "/student/application";
                    }
                    console.log(data.status);
                    // if (data.status === "fail") {
                    //     alert(data);
                    // } else {
                    //     sessionStorage.setItem('stu_app_name', JSON.stringify(data));
                    //     if (data.info === "gotoStudentApplication") {
                    //         window.location.href = "/student/application";
                    //     } else {
                    //         var json= JSON.stringify(data);
                    //         alert(json);
                    //     }
                    // }

                },
                error: function(data){
                    console.log("失败");
                }
            });
        }
    }
</script>
</body>
</html>

