<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Students Application-SCU</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="stylesheet" href="assets/css/app.css">
</head>

<body data-type="generalComponents"> 

<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:" class="tpl-logo">
            <img src="assets/img/logo.png" alt="">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>
</header>


<div class="tpl-page-container tpl-page-header-fixed">



    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            入学申请人-注册 Applicants-Registration
        </div>
        <!--
        <ol class="am-breadcrumb">
            <li><a href="#" class="am-icon-home">首页</a></li>
            <li><a href="#">表单</a></li>
            <li class="am-active">Amaze UI 表单</li>
        </ol>
        -->
        <div class="tpl-portlet-components">


            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> Form #A01
                </div>
                <!--
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <i class="am-icon-search"></i>
                            <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                    </div>
                </div>
                -->


            </div>
            <div class="tpl-block ">

                <div class="am-g tpl-amazeui-form">

                    <div class="am-u-sm-12 am-u-md-12">
                        <form class="am-form am-form-horizontal">

                            <div class="am-form-group">
                                <label for="username" class="am-u-sm-3 am-form-label">用户名/User Name</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="username" placeholder="User Name">

                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="name" class="am-u-sm-3 am-form-label">姓名/Name</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="name" placeholder="Name">
                                    <small>The name should be the same as your ID card or passport.</small>
                                </div>
                            </div>

                            <!--
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">证件类型/Types of Identical Document</label>
                                <div class="am-u-sm-9">
                                    <label class="am-radio-inline">
                                        <input type="radio"  value="1" name="Mainland"> 身份证/Mainland ID Card
                                    </label>
                                    <label class="am-radio-inline">
                                        <input type="radio" value="2" name="docInlineRadio"> 护照/Passport
                                    </label>
                                    <label class="am-radio-inline">
                                        <input type="radio" value="3" name="docInlineRadio"> 港澳台通行证/Hong Kong,Macau,Taiwan
                                    </label>
                                </div>
                            </div>
                            -->

                            <div class="am-form-group">
                                <label for="id" class="am-u-sm-3 am-form-label">证件号码/Identical Document Number</label>
                                <div class="am-u-sm-9">
                                    <input type="text"  id="id" placeholder="Identical Document Number">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="password" class="am-u-sm-3 am-form-label">密码/Password</label>
                                <div class="am-u-sm-9">
                                    <input type="password"  id="password" placeholder="Password">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="button" class="am-btn am-btn-primary" onclick="sign_up()">SIGN UP</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<script src="js/jquery.min.js"></script>
<script src="js/amazeui.min.js"></script>
<script src="js/app.js"></script>
<script>

    function sign_up(){
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var username = $('#username')[0].value;
        var name = $('#name')[0].value;
        var password = $('#password')[0].value;
        var id = $('#id')[0].value;
        if(name.length==0||id.length==0||username.length==0||password.length== 0){
            alert("请输入正确的账号和密码!");
        }
        else{
            var user = {
                username: username,     //账号
                password: password,     //密码
                userRole: "ROLE_STUDENT"
            };
            var student = {
                stuName: name,
                stuIdCard: id
            };
            var model = {
                user: user,
                studApplyInformation: student
            };
            $.ajax({
                type:'POST',
                url:'/login/register',
                dataType:"json",
                contentType: "application/json;charset=UTF-8",
                data:JSON.stringify(model),
                beforeSend: function(request) {
                    request.setRequestHeader(header, token); // 添加  CSRF Token
                },
                success:function(data){
                    console.log(data);
                    if(data.status === "fail"){
                        alert("注册失败!请重新注册!");
                    }else{
                        window.location.href = "/login";
                    }
                },
                error: function(data){
                    console.log("失败");
                }

            })
        }


    }
</script>
</body>

</html>
